body {
  font-size: 14px;
}
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.top-strip {
  background-color: #0b3d91;
  color: white;
  text-align: center;
  padding: 6px;
  font-size: 14px;
}

header {
  background-color: #f5f5f5;
  padding: 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 15px;
}

.header-text h1 {
  margin: 0;
  color: #0b3d91;
}

nav {
  background-color: #1e5aa5;
  padding: 10px;
  text-align: center;
}
.hero {
  background: url("hero.jpeg") center/cover no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  color: white;
  text-align: center;
  z-index: 2;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
}

.tagline {
  margin-top: 10px;
  font-weight: bold;
  color: #ffd700;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.donate-btn {donation QR.jpeg}
  background-color: #caa74e;
  padding: 6px 12px;
}

.main-section {
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #0b3d91;
}

button {
  background-color: #0b3d91;
  color: white;
  padding: 10px 20px;
  border: none;
}

.social-section {
  padding: 30px;
  background-color: #f0f4f8;
  text-align: center;
}

.social-section a {
  display: inline-block;
  margin: 8px 15px;
  color: #0b3d91;
  text-decoration: none;
  font-weight: bold;
}

footer{
background:#0d1b2a;
color:white;
padding:15px 5%;   /* Pehle 40px tha, ab kam kar diya */
text-align:center;
font-size:13px;
line-height:1.6;
}